html {
    box-sizing: border-box;
}

section, header {
    position: relative;
    padding: 2rem 5rem;
    /*border: dashed 2px blue;*/
    width: 80%;
    margin: auto;
}
header {
    display: flex;
}
header h1{
    margin: auto 0;
    font-size: 2.5rem;
}
header .btn-main {
    font-size: 1rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: #89969c;
    background: #c9d2d7;
    padding: 1em 4em;
    border: none;
    border-radius: .4em;
    margin: auto;
}
header .btn-mobile {
    display: inline-flex;
    align-items: baseline;
    width: 3.5rem;
    color: #89969c;
    background: #c9d2d7;
    padding: 0.5rem;
    margin-left: 3rem;
    border: none;
    border-radius: .4em;
}
.btn:hover { background: #a7b0b5; } /* при наведении курсора мышки */
.btn:active { background: #c9d2d7; } /* при нажатии */

header .btn-mobile {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.icon{
    width: 230px;
    height: 230px;
    background: url("img/list_weather.jpg");
    background-size: 400%;
    border: solid gray 2px;
}
.icon-tornado {
    background-position: 33% -1%;
}
.icon-snow {
    background-position: 61% -3%;
}
.icon-partly-sunny {
    background-position: 92% -5%;
}
.icon-cloudy {
    background-position: 2% 33%;
}
.icon-sunny {
    background-position: 33% 32%;
}
.icon-rain {
    background-position: 2% 67%;
}
.icon-rain-sun {
    background-position: 34% 67%;
}
ul.parameters {
    list-style-type: none;
    /*border: solid 5px pink;*/
    padding: 0;
}
ul.parameters > li {
    display: flex;
    justify-content: space-between;
    /*max-width: 100%;*/
    background-color: gray;
    margin: .7rem 0;
    padding: .3rem .7rem;
    border-radius: .7rem;
    border: solid 1px black;
    color: white;
    font-size: 1.5rem;
}
ul.parameters > li > b {
    margin-right: .7rem;
}
.home {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.2fr 47.5%;
    grid-template-areas: "name name name weather"
    "icons temp nothing weather";
    min-height: 17rem;
}
.home > h2 {
    grid-area: name;
    font-size: 3rem;
    max-width: 100%;
    margin: 0;
}
.home > ul {
    margin: 0;
    grid-area: weather;
}

.home .icon{
    grid-area: icons;
    width: 10rem;
    height: 10rem;
}
.home > span{
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    /*border: solid 1px red;*/
    grid-area: temp;
    font-size: 8rem;

}
.loading {
    display: grid;
    grid-template-areas: "name"
    "icon";
    align-items: center;
    min-height: 17rem;
}
.loading > span {
    grid-area: name;
    font-size: max(1.5rem, 4vw);
    white-space: nowrap;
    margin: auto;
}
.loading > .btn-update {
    box-sizing: content-box;
    grid-area: icon;
    display: inline-flex;
    align-items: baseline;
    align-self: start;
    width: 3.5rem;
    color: #89969c;
    background: #c9d2d7;
    padding: 0.5rem 5rem;
    margin: 1rem auto;
    /*margin-left: 3rem;*/
    border: none;
}


.favorites-description {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
}
.favorites-description h2{
    font-size: 2rem;
    margin: 0 0 .5rem;
}
.favorites-description input {
    font-size: 1.5rem;
}
.favorites-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 0;
    padding: 0;
}
.favorites-ul li{
    /*border: solid 1px black;*/
    display: grid;
    grid-template-areas:
            "descr"
            "param";
}
.favorites-ul .loading > span{
    font-size: 1.5rem;
}
.favorites .description {
    grid-area: descr;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid 2px green;*/
    max-width: 100%;
}

.favorites .parameters {
    grid-area: param;
    min-height: 17rem;
}
.favorites .description h3 {
    /*border: solid 1px blue;*/
    display: inline-block;
    font-size: 2rem;
    margin: 0 1rem 0 0;
}
.favorites .description p {
    /*border: solid 1px blue;*/
    display: inline-block;
    font-size: 2rem;
    margin: 0 1rem 0;
}
.favorites .description .icon {
    /*border: solid 1px blue;*/
    display: inline-block;
    max-width: 4rem;
    max-height: 4rem;
    margin: 0 auto 0 1rem;
}
.favorites .description-loading p{
    visibility: hidden;
}
.favorites .description-loading .icon{
    visibility: hidden;
}

.btn-cancel, .btn-favorites {
    border: none;
    margin: 0 .2rem 0 .7rem;
    background-color: gray;
    color: white;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50%;
}
.btn-cancel:hover, .btn-favorites:hover { background: lightgray; } /* при наведении курсора мышки */
.btn-cancel:active, .btn-favorites:active { background: darkgray;} /* при нажатии */

@media screen and (max-width: 1080px) {
    html {
        font-size: 14px;
    }
    section, header {
        position: relative;
        padding: 2rem 5rem;
        max-width: 100%;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name name"
        "icons temp"
        "weather weather";
        grid-row-gap: 20px;
    }
    .home > .icon{
        grid-area: icons;
        width: 6rem;
        height: 6rem;
    }
    .home > span{
        display: flex;
        word-wrap: break-word;
        justify-content: center;
        grid-area: temp;
        font-size: 6rem;

    }
    .favorites-ul{
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .favorites-ul li {
        margin-bottom: 20px;
    }
    .favorites-description {
        display: block;
    }
    .favorites-description label{
        display: flex;
        flex-basis: auto;
    }
    .favorites-description input{
        flex-grow: 1;
    }
    header .btn-mobile {
        display: inline-flex;
    }
    header .btn-main {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
        min-width: 400px;
    }
}
@media screen and (min-width: 1800px) {
.favorites-ul {
    grid-template-columns: repeat(3, 1fr);
}
}