html {
    box-sizing: border-box;
}

section, header {
    position: relative;
    padding: 2rem 5rem;
    /*border: dashed 2px blue;*/
    width: 80%;
    margin: auto;
}
header h1{
    display: inline-block;
    margin: 0;
}
header button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #89969c;
    background: #c9d2d7;
    padding: 1em 2em;
    border: none;
    border-radius: .4em;
}
header button:hover { background: #a7b0b5; } /* при наведении курсора мышки */
header button:active { background: #c9d2d7; } /* при нажатии */

header img {
    display: none;
}
img {
    border: solid 2px black;
}
ul.parameters {
    list-style-type: none;
    /*border: solid 5px pink;*/
    padding: 0;
}
ul.parameters > li {
    display: flex;
    justify-content: space-between;
    /*max-width: 100%;*/
    background-color: gray;
    margin: .7rem 0;
    padding: .3rem .7rem;
    border-radius: .7rem;
    border: solid 1px black;
    color: white;
    font-size: 1.5rem;
}
ul.parameters > li > b {
    margin-right: .7rem;
}
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 2fr;
    grid-template-areas: "name name nothing weather"
    "icons temp nothing weather";
}
.home > h2 {
    grid-area: name;
    font-size: 3rem;
    max-width: 100%;
    margin: 0;
}
.home > ul {
    margin: 0;
    grid-area: weather;
}

.home > img{
    grid-area: icons;
    width: 10rem;
}
.home > span{
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    /*border: solid 1px red;*/
    grid-area: temp;
    font-size: 6rem;

}

.favorites-description {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
}
.favorites-description h2{
    font-size: 2rem;
    margin: 0 0 .5rem;
}
.favorites-description input {
    font-size: 1.5rem;
}
.favorites-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.favorites-ul li{
    /*border: solid 1px black;*/
    margin: .5rem;
    display: grid;
    flex-grow: 1;
    grid-template-areas:
            "descr"
            "param";

}
.favorites .description {
    grid-area: descr;
    position: relative;
    /*border: solid 2px green;*/
    max-width: 100%;
    padding: 0 5rem .5rem 0;
}
/*.favorites .description::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
.favorites .parameters {
    grid-area: param;
    /*border: solid 1px red;*/
    max-width: 100%
}
.favorites .description h3 {
    /*border: solid 1px blue;*/
    display: inline-block;
    font-size: 2rem;
    margin: 0 .7rem;
}
.favorites .description p {
    /*border: solid 1px blue;*/
    display: inline-block;
    font-size: 2rem;
    margin: 0 .7rem;
}
.favorites .description img {
    /*border: solid 1px blue;*/
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 1rem;
}
.favorites button {
    position: absolute;
    right: 0;
    top: 1.5rem;
    /*border: solid 1px blue;*/
    display: block;
}


.favorites button, .favorites-description button {
    border: none;
    margin: 0 .7rem;
    background-color: gray;
    color: white;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50%;
}
.favorites button:hover, .favorites-description button:hover { background: lightgray; } /* при наведении курсора мышки */
.favorites button:active, .favorites-description button:active { background: darkgray;} /* при нажатии */

@media screen and (max-width: 1080px) {
    html {
        font-size: 14px;
    }
    section, header {
        position: relative;
        padding: 2rem 5rem;
        max-width: 100%;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name name"
        "icons temp"
        "weather weather";
    }
    .home > img{
        grid-area: icons;
        width: 7rem;
    }
    .home > span{
        display: flex;
        word-wrap: break-word;
        justify-content: center;
        grid-area: temp;
        font-size: 4rem;

    }
    .favorites-ul{
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .favorites-description {
        display: block;
    }
    .favorites-description label{
        display: flex;
        flex-basis: auto;
    }
    .favorites-description input{
        flex-grow: 1;
    }
    header img {
        display: inline-block;
        width: 1.5rem;
        color: #89969c;
        background: #c9d2d7;
        padding: 0.5rem;
        margin-left: 2rem;
        border: none;
        border-radius: .4em;
    }
    header img:hover { background: #a7b0b5; } /* при наведении курсора мышки */
    header img:active { background: #c9d2d7; } /* при нажатии */

    header button {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}