.button {
    border-radius: 100px;
}

.section {
    padding: 2em 5em;
}

.section-heading,
.section-description {
    background: url("map.jpg") rgba(255, 255, 255, 0.1);
    background-size: cover;
    color: white;
}
h2 {
    text-align: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.container {
    position: relative;
    border: 0;
    box-sizing: border-box;
}
.one-half {
    width: 59%;
    display: inline-block;
    box-sizing: border-box;
}
.second-half {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}
.one-third {
    width: 30%;
    display: inline-block;
}
img {
    max-width: 100%;
}
li {
    list-style-type: none;
    position: relative;
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    font-family: sans-serif;
}

li::before {
    display: inline-block;
    content: '';
    border-radius: 100px;
    border-style: solid;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}
li.red:before {
    background-color: red;
    border: 1px solid red;
}
li.yellow:before {
    background-color: yellow;
    border: 1px solid yellow;
}
li.blue:before {
    background-color: blue;
    border: 1px solid blue;
}